html {
  font-size: 62.5%;
}

body {
  padding: 0;

  width: 100%;
  background-color: white;
  color: black;
  font-size: 1.6rem;
}

a {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  transition: color 0.2s ease-in-out;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.35;
  font-weight: 600;
}

img {
  max-width: 100%;
  height: auto;
}
p {
  margin: 0;
}

.main-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
